<footer class="footer">
    <div class="footer-section">
        <a href="/about" class="footer-link">אודות</a>
    </div>
     <div class="footer-section">
      <a href="/contact" class="footer-link">צור קשר</a>
    </div>


    <div class="footer-section">
        <p>עקבו אחרינו:</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><img src="{{url_for('static', filename="images/facebook.png")}}" alt="פייסבוק"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{{url_for('static', filename="images/instagram.png" )}}"alt="אינסטגרם"></a>
            <a href="https://www.tiktok.com" target="_blank"><img src="{{url_for('static', filename="images/tiktok.png")}}" alt="טיקטוק"></a>
        </div>
    </div>

    <div class="footer-section">
        <p>📞 טלפון ליצירת קשר: 054-123-4567</p>
    </div>
</footer>
