<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookMyCut - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bookmycut.css') }}">
</head>
<body>  {% include 'navigation.html' %}</body>
    <main>
        <section class="features">
            <div class="feature">
                <img src="{{url_for('static', filename="images/index1.jpg" ) }}" alt="התחל את המסע שלך">
                <h2>התחל את המסע שלך למראה חדש</h2>
                <p>בחר מתוך מגוון שירותי עיצוב שיער שיתאימו לצרכים שלך</p>
            </div>
            <div class="feature">
                <img src="{{url_for('static', filename="images/index2.jpg" ) }}" alt="מגע חור במחירים נגישים">
                <h2>מצא תור במהירות ובקלות</h2>
                <p>הזמן תור בכמה לחיצות פשוטות, מבלי להרים טלפון</p>
            </div>
            <div class="feature">
                <img src="{{url_for('static', filename="images/index4.jpg" ) }}" alt="מצא את המספרה">
                <h2>מצא את המספרה המושלמת עבורך</h2>
                <p>חפש מספרות מומלצות באזור, כולל שירותים ומוצרים מובילים</p>
            </div>
        </section>

      <section class="about">
    <h2>קצת עלינו...</h2>
    <p>
        היי, אנחנו ב-BookMyCut מבינים כמה החיים יכולים להיות עמוסים, ואיך לפעמים הדבר הפשוט ביותר – כמו לקבוע תור למספרה הופך למשימה מתישה.
        בדיוק בשביל זה הקמנו את הפלטפורמה שלנו כדי להפוך את כל התהליך לפשוט, מהיר ונגיש. הרעיון נולד מתוך צורך אישי.
        בדיוק כמוכם, גם אנחנו מצאנו את עצמנו לא פעם מנסים למצוא מספרה פנויה או לתאם תור בשעות שנוחות לנו ובסוף מתפשרים.
        אז החלטנו לשנות את זה. BookMyCut נועדה לחסוך לכם זמן ולאפשר לכם למצוא את המספרות הטובות ביותר, לבחור את השירות שמתאים לכם,
        ולסגור תור בכמה קליקים – בלי שיחות טלפון, בלי כאבי ראש. המטרה שלנו היא פשוטה: שתרגישו נהדר ותיראו במיטבכם, בלי מאמץ מיותר.
        <strong>תודה שבחרתם להצטרף אלינו!</strong>
    </p>
</section>


        <section class="locations">
            <h2>גלה את המספרות המובילות באזור שלך</h2>
         <div class="locations-grid">
    <a href="/salon" class="location-btn">חיפה</a>
    <a href="/salon" class="location-btn">תל אביב</a>
    <a href="/salon" class="location-btn">אילת</a>
    <a href="/salon" class="location-btn">באר שבע</a>
    <a href="/salon" class="location-btn">קריות</a>
    <a href="/salon" class="location-btn">מודיעין</a>
    <a href="/salon" class="location-btn">ירושלים</a>
    <a href="/salon" class="location-btn">קריית שמונה</a>
    <a href="/salon" class="location-btn">רחובות</a>
</div>
        </section>
    </main>
<body>  {% include 'footer.html' %}</body>
</body>
</html>
