<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyCut - כניסה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bookmycut.css') }}">
</head>
<body>
</head>
{% include 'navigation.html' %}
    <div class="signin-container">
        <!-- טופס הכניסה -->
        <div class="form-container">
            <h1>BookMyCut</h1>
            <p>Book from the comfort of your couch</p>
            <form novalidate>
                <h2>כניסה</h2>
                <label for="email">אימייל</label>
                <input type="email" id="email" name="email" placeholder="הכנס את האימייל שלך" required>

                <label for="password">סיסמה</label>
                <input type="password" id="password" name="password" placeholder="הכנס את הסיסמה שלך" required>

                <button type="submit">כניסה</button>
            </form>
        </div>

        <!-- תמונת הצד -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/signin.jpg') }}" alt="Login">
        </div>
    </div>

<script src="{{ url_for('static', filename='signIn.js') }}" defer></script>

</body>
{% include 'footer.html' %}
</html>
