
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyCut - כניסה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bookmycut.css') }}">
</head>
<body>
</head>
{% include 'navigation.html' %}
    <div class="signup-container">
        <!-- טופס הכניסה -->
        <div class="form-container">
            <h1>BookMyCut</h1>
            <p>Book from the comfort of your couch</p>
           <h2>הרשמה</h2>
            <form action="/signup" method="POST" novalidate>
                <label for="full-name">שם מלא</label>
                <input type="text" id="full-name" name="full-name" placeholder="הכנס את שמך המלא" required>

                <label for="email">אימייל</label>
                <input type="email" id="email" name="email" placeholder="הכנס את האימייל שלך" required>

                <label for="gender">מין</label>
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>בחר</option>
                    <option value="male">זכר</option>
                    <option value="female">נקבה</option>
                </select>

                <label for="birthdate">תאריך לידה</label>
                <input type="date" id="birthdate" name="birthdate" required>

                <label for="phone">מספר טלפון</label>
                <input type="tel" id="phone" name="phone" pattern="05[0-9]{8}" placeholder="הכנס את מספר הטלפון" required>

                <label for="address">כתובת</label>
                <input type="text" id="address" name="address" placeholder="הכנס את הכתובת שלך" required>

                <label for="password">סיסמה</label>
                <input type="password" id="password" name="password" placeholder="הכנס את הסיסמה שלך" required>

                <button type="submit">הרשמה</button>
            </form>

        </div>

        <!-- תמונת הצד -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/signin.jpg') }}" alt="Login">
        </div>
    </div>

<script src="{{ url_for('static', filename='signUp.js') }}" defer></script>
</body>
{% include 'footer.html' %}

</html>

